extends ../layout/taskDetail
block main
	.sidebar
		#taskControl
			button 更新到服务器
			button 完成
		#taskCode
			ul
				- each repos in task.repos
					li
						i.icon-download-alt  
						a.async(href="/task/dir?path=#{task.absPath}&folder=#{repos[1]}") #{repos[0]}
				li
					form#addRepos(action="get")
						input#reposUrl(name="reposUrl",type="text",placeholder="输入代码库url")
						input#taskpath(type="hidden",name="taskpath",value="#{task.path}")
						button.btn(type="submit") 添加
						
	.extbar
		#logPanel
			ul
				li >> check 代码库http://xxx/xxx.git
				li >> 修改文件 a.js
				li >> check 代码库http://xxx/xxx.git
				li >> 修改文件 a.js
				li >> check 代码库http://xxx/xxx.git
				li >> 修改文件 a.js
				li >> check 代码库http://xxx/xxx.git
	.mainbar
		div
			#codeControl
				button.btn pull
				button.btn add
				button.btn commit
				button.btn push
			#filePath
				ol
					li
						i.icon-folder-open
					li
						a(href="/task/dir?path=#{task.absPath}&folder=#{task.repos[0][1]}") #{task.repos[0][1]}/
			#filePanel
				ul.listView
					- each file in files
						li
							span.foldIcon
								i.#{file}
							span.fileName
								a(href="sfe") #{file}
							span.fileSize #{file.size}
							span.fileDate #{file.date}
			#viewPanel
				ul
					li
						a(href="#") abc
					li.current
						a(href="#") vmarket
					li
						a(href="#") file
	style
		body{
			overflow-y:hidden;
		}

	script
		(function(S){
			var D = S.DOM,
				E = S.Event;
			function resize(){
				D.height("#filePanel",D.viewportHeight()-190);
				D.height("#logPanel",D.viewportHeight()-65);
			}
			S.ready(resize);
			E.on(window,'resize',resize);
		})(KISSY);
		
		function addReposHandler(r){
			if(r.status === 'success'){
				alert('添加成功');
				location.href = location.href;
			}else{
				alert(r.msg);
			}
		}
		(function(S){
			var D = S.DOM,
				E = S.Event,
				IO = S.IO;
			function addRepos(e){
				e.halt();
				IO.getScript('/task/addRepos?url='+D.val("#reposUrl")+"&taskpath="+D.val('#taskpath')+"&callback=addReposHandler")
			}
			E.on('#addRepos','submit',addRepos);
		})(KISSY);


		function showDirHandler(filelist){
			KISSY.one("#filePanel ul").html("");
			for(var i = 0, l = filelist.length; i < l; i++){
				KISSY.one("#filePanel ul").append("<li><span class='fileIcon'><i class='folder'></i></span><span class='fileName'><a href=''>"+filelist[i]+"</a></span><span class='fileSize'><a href=''>"+filelist[i]+"</a></span><span class='fileDate'><a href=''>"+filelist[i]+"</a></span></li>");
			}
		}
		(function(S){
			var D = S.DOM,
				E = S.Event,
				IO = S.IO;
			E.on("#taskCode .async","click",function(e){
				e.halt();
				IO.getScript(this.href + "&callback=showDirHandler");
			});
		})(KISSY);
				
